{%extends 'base.html'%}
{%load static %}
{%block content%}

  <div class="page-banner overlay-dark bg-image" style="background-image: url(https://thumbs.dreamstime.com/b/dead-man-hospital-flat-color-vector-illustration-person-loss-family-grief-body-medical-clinic-patient-doctor-d-cartoons-188955095.jpg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="index.html">Bosh saxifa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal">Contact</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div> <!-- .page-banner -->

  <div class="page-section">
    <div class="container">
      <h1 class="text-center wow fadeInUp">Xabar yuborish</h1>

  <form class="contact-form mt-5", method="post">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-sm-6 py-2 wow fadeInLeft">
            <label for="fullName">Ism</label>
            <input class="form-control" name="name" type="text" placeholder="Ismingizni kiriting.." id="fullName"required>
          </div>
          <div class="col-sm-6 py-2 wow fadeInRight">
            <label for="emailAddress">Telefon Raqam</label>
            <input class="form-control" name="phone" type="text" placeholder="Telefon Raqamingizni kiriting.." id="number"required>
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="subject">Subject</label>
            <input class="form-control" name="email" type="text" placeholder="Elektron Pochta.." id="emailAddress"required>
          </div>
          <div class="col-12 py-2 wow fadeInUp">
            <label for="message">Message</label>
            <textarea class="form-control" name="message" type="text" placeholder="Xabaringizni kiriting.." id="message" rows = "8" required></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary wow zoomIn">Ma'lumotlarni Yuborish</button>
      </form>
    </div>
  </div>

  <div class="maps-container wow fadeInUp">
    <div id="google-maps"></div>
  </div>

  <div class="page-section banner-home bg-image" style="background-image: url(static/assets/img/banner-pattern.svg);">
    <div class="container py-5 py-lg-0">
      <div class="row align-items-center">
        <div class="col-lg-4 wow zoomIn">
          <div class="img-banner d-none d-lg-block">
            <img src="{% static 'assets/img/mobile_app.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-8 wow fadeInRight">
          <h1 class="font-weight-normal mb-3">One Health ilovasi yordamida barcha funksiyalarga osonlik bilan kiring</h1>
          <a href="#"><img src="{% static 'assets/img/google_play.svg'%}" alt=""></a>
          <a href="#" class="ml-2"><img src="{% static 'assets/img/app_store.svg'%}" alt=""></a>
        </div>
      </div>
    </div>
  </div> <!-- .banner-home -->

{%endblock content%}